@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    /* direction: rtl; */
    /* neutral */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-dark-gray: hsl(0, 0%, 55%);
    --neutral-very-dark-gray: hsl(0, 0%, 41%);
    --neutral-black: hsl(0, 0%, 0%);

    --neutral-almost-black-shadow: hsl(0, 0%, 8%, 0.5);

    /* font body-copy */
    --fs-body-copy: 15px;

    --section-separator: 3rem;

    /* --magic-margin: clamp(1.5rem, -8.2143rem + 20.2381vw, 10rem); */

    /* minvw: 375px, maxvw: 1920, minfs: 1.5rem, maxfs:10rem */
    --magic-margin: clamp(1.5rem, -0.5631rem + 8.8026vw, 10rem);
}

html {
    font-size: var(--fs-body-copy);
}

body {
    /*  desktop: 1440x900px
        mobile: 375x780px */
    font-family: 'Alata', /* 'Josefin Sans', */ sans-serif;
}
    
.container {
    max-width: 1440px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-inline: auto;
        
    min-height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
    gap: 1rem;
}

.container-hero-nav {
    display: grid;
    grid-auto-rows: auto 1fr;

    margin-block-end: var(--section-separator);
}

.container-hero-nav > picture {
    /* z-index: -1; */
    grid-area: 1 / -1;
}

/* .hero-image {
    width: 100%;
}
 */
@media screen and (min-width: 768px) and (max-width: 1350px) {
    /* stops the hero image from shrinking too much and other elements colliding with each other */
    .container-hero-nav > picture > img {
        /* logo shrinks but stops at a certain point */
        /*  
            To determine a smooth transition, set a min-height in pixels then
            select the img element in dev tools > element > style.
            Slowly shrink the viewport while looking at the box model and
            check the viewport dimensions at the upper-right of the browser
            window. That x value will be your max-width above ^ in your @media.
        */
        min-height: 600px;
        width: auto;
        object-fit: cover;
    }
}

.hero-text--container {
    grid-area: 1 / -1;
    place-self: center;
    margin-inline: 1.5rem;
}

.hero-text {
    color: var(--neutral-white);
    font-family: 'Josefin Sans', sans-serif;
    /* clamp calculation: minwp: 375, maxvp: 1920, minfs:3, maxfs:4 */
    font-size: clamp(3rem, 2.6479rem + 1.5023vw, 4rem);
    text-transform: uppercase;
    max-width: 33rem;
    line-height: 1;
    text-align: start;

    border: 3px solid var(--neutral-white);
    /* following padding causes overflow */
    /* first clamp: minwp: 375, maxvp: 1920, minfs:2, maxfs:3 */
    /* second clamp: minwp: 375, maxvp: 1920, minfs:2, maxfs:1.5 */
    /* padding: clamp(2rem, 1.7573rem + 1.0356vw, 3rem) clamp(2rem, 2.1214rem + -0.5178vw, 1.5rem); */
    /* padding-inline: clamp(2rem, 2.1214rem + -0.5178vw, 1.5rem); */
    padding-inline: 3rem;
    padding-block: 3rem;
}

.navbar {
    /* margin-inline: var(--magic-margin); */
    /* changing to padding so background to black will show */
    padding-inline: var(--magic-margin);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    /* spacing from the top */
    /* margin-block-start: 1.5rem; */
    /* changing to padding so background to black will show */
    padding-block-start: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* places navbar at the top */
    /* height: fit-content; */
    height: 54px;
    background-color: var(--neutral-black);

    z-index: 120;
}

.navbar.transparent {
    background-color: transparent;
}

.nav-items {
    /* display: flex;
    flex-direction: column; */
    display: flex;
    /* height: fit-content; */
    position: relative;
}

.navigation-container {
    /* flex here is actually for desktop mode*/
    /* display: block; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center;
    align-content: center; */
    gap: 2rem;
    /* justify-content: center; */  /* commenting out since it works fine without it */
    /* background-color: var(--neutral-dark-gray); */
    list-style: none;
    /* padding-inline-start: min(3.5rem, 2vw); */   /* commenting out since it works fine without it */
}

.navigation-container li a {
    text-decoration: none;
    color: var(--neutral-white);
}

@media screen and (max-width:767px) {

    .navigation-container {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
        text-transform: uppercase;

        /* position: absolute; */
        
        position: fixed;
        overflow-y: auto;
        z-index: 110;    /* should be higher than the dark-overlay */
        /* inset-inline: 0 -22px; */   /* left-right */
        inset-inline: auto 0;
        inset-block: 55px auto;     /* top-bottom */
        
        flex-direction: column; 
        /* transform: translateX(100%); */
        /* scrolls down */
        /* without width & height in viewport units, container doesn't occupy whole screen */
        width: 100vw;
        /* width: calc(100vw - 17px); */
        height: 100vh;
        padding: min(20rem, 15vh) 2rem;
        background-color: var(--neutral-black);
        /* previous value was -112%. But dev tools using phone emulator
         in landscape was showing the 'hidden' menu. So this value was increased */
        transform: translateY(-200%);
    }
}

.logo {
    /* z-index: 120; */
}
.mobile-nav-toggle {
    /* position: relative; */
    /* align-self: end; */
    /* inset-inline-end: 1rem; */
    /* z-index: 1; */
    
    margin-block: .25rem;
    background-image: url('./images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: left;
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    border: 0;
}

.mobile-nav-toggle[aria-expanded="true"]{
    /* z-index: 120; */
    background-image: url('./images/icon-close.svg');
    -moz-transition: background-image 100ms, z-index 200ms 250ms;
    transition: background-image 100ms, z-index 200ms 250ms;
}

.tx--17 {
    transform: translateX(-17px);
}

.description {
    /* for the container, for viewports < 768px*/
    /* commenting the below as it's causing overflowing with image-tile(!) */
    margin-inline: 1.5rem;
    margin-block-end: var(--section-separator);
    position: relative;

    /* for the child elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.description-text-block {
}


.description-text-block {
    /* this is mostly based on max viewport */
    /* max-width: 730px; */
    background-color: white;
    /* padding: 3rem; */
    /* minvw: 375px, maxvw: 1440, minfs: 3rem, maxfs: 5rem */
    /* padding: clamp(3rem, 2.2958rem + 3.0047vw, 5rem); */

    /* padding: clamp(2.5rem, 1.6197rem + 3.7559vw, 5rem); */

    /* minvw: 375px, maxvw: 1440, minfs: .5rem, maxfs: 5rem */
    padding: clamp(0.5rem, -1.0845rem + 6.7606vw, 5rem);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    position: relative;
    /* position: absolute;
    bottom: 3rem;
    right: 0; */
}

.image-tile h2,
.description-text-block h2 {
    /* width: clamp(20rem, 12.0213rem + 25.5319vw, 35rem); */
    /* width: clamp(18.75rem, 13.7324rem + 21.4085vw, 33rem); */

    /* minvw: 375px, maxvw: 1440, minfs: 300px, maxfs: 25rem */
    /* width: clamp(18.75rem, 16.5493rem + 9.3897vw, 25rem); */

    /* minvw: 375px, maxvw: 1920, minfs: 25rem, maxfs: 30rem */
    /* width: clamp(25rem, 23.7864rem + 5.178vw, 30rem); */

    
}

.description-text-block h2,
.image-tile h2 {
    font-family: 'Josefin Sans', sans-serif;
    /* font-size: clamp(2rem, 1.734rem + 0.8511vw, 2.5rem); */
    
    /* minvw: 375px, maxvw: 1440, minfs: 2.4rem, maxfs: 3.2rem */
    /* font-size: clamp(2.4rem, 2.2058rem + 0.8285vw, 3.2rem); */
    /* minvw: 375px, maxvw: 1440, minfs: 2.2rem, maxfs: 3.2rem */
    font-size: clamp(2.2rem, 1.8479rem + 1.5023vw, 3.2rem);
    text-transform: uppercase;
    max-width: 30rem;

    /* commenting out these lines as it's causing overflow */
    /* width: clamp(20rem, 14.6809rem + 17.0213vw, 33rem); */
    /* width: clamp(20rem, 12.0213rem + 25.5319vw, 35rem); */
    line-height: 1.05;
}


.description-text-block p {
    color: var(--neutral-very-dark-gray);
    max-width: 33rem;
    /* width: 20rem; */
    /* width: clamp(20rem, 12.0213rem + 25.5319vw, 35rem); */

    /* commenting out these lines as it's causing overflow */
    /* width: clamp(20rem, 14.6809rem + 17.0213vw, 33rem); */
    font-size: 17px;
}

.description-text-block h2, p,
.image-tile h2 {
    text-align: center;
}

.image-tile {
    /* on the container, for mobile */

    /* HERE NOW INTERMITTENT OVERFLOW. BUT MOSTLY NO PROBLEM */
    margin-inline: var(--magic-margin);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin-block-end: var(--section-separator);
}

.image-tile .see-all {
    order: 1;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .25rem;
    text-transform: uppercase;
        
    padding: .8rem 3rem .5rem;
    border: 1px solid var(--neutral-black);
    text-decoration: none;
}

.image-tile > a:hover {
    color: var(--neutral-white);
    background-color: var(--neutral-black);
}

.loopstudios-creations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 2.5rem;
}

.loopstudios-creations a {
    text-decoration: none;
    /* if next line doesn't exist, overlay doesn't align */
    justify-self: center;
}

.loopstudios-creations > a:focus-visible {
    outline: 2px solid crimson;    
}

.loopstudios-creations a figure {
    /* display: grid; */
    position: relative;
    display: inline-block;
}

.title {
    /* places img and span in same place/area */
    /* grid-area: 1 / -1; */
    /* grid-column: 1 / -1;
    grid-row: 1 / 3; */
    /* even if commented out, 'position: absolute' below works
        because it's under code block with '.loopstudios-creations a picture' */
    /* position: relative; */
    /* padding: 5rem 1rem 1rem; */
}

.loopstudios-creations > a:hover .image-actual {
    opacity: 0.5;
}

.loopstudios-creations > a:hover .title {
    color: var(--neutral-black);
    font-weight: bold;
}

/* picture >  */.title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* align-self: end; */
    padding-inline-start: 1.5rem;
    padding-block-end: 1.5rem;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--neutral-white);
    max-width: 10rem;
    width: max-content;
    z-index: 2;
}

.loopstudios-creations > a > figure > picture::before {
    content: '';
    /* absolute here is required, but relative above (~ ln 272) is not! */
    position: absolute;
    inset: 0 10% 0 0;
    /* can assign 'to left' as a variable */
    --direction: 270deg;
    background-image: linear-gradient(
        var(--direction),
        hsla(0, 0%, 35.29%, 0) 0%,
        hsla(0, 0%, 34.53%, 0.034375) 16.36%,
        hsla(0, 0%, 32.42%, 0.125) 33.34%,
        hsla(0, 0%, 29.18%, 0.253125) 50.1%,
        hsla(0, 0%, 24.96%, 0.4) 65.75%,
        hsla(0, 0%, 19.85%, 0.546875) 79.43%,
        hsla(0, 0%, 13.95%, 0.675) 90.28%,
        hsla(0, 0%, 7.32%, 0.765625) 97.43%,
        hsla(0, 0%, 0%, 0.8) 100%
      );
    z-index: 1;
}

.loopstudios-creations > a:hover picture::before {
    /* so that overlay cannot be seen on hover */
    height: 0;
}

footer {
    background-color: var(--neutral-black);
}

.footer-menu-container {
    display: grid;
    gap: 2rem;
    color: var(--neutral-white);    

    justify-items: center;
    padding-block: 4rem;
}

.footer-menu,
.social-media-links {
    padding: 0;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
}

.footer-menu  li,
.social-media-links li {
    list-style: none;
}

.footer-menu-container > ul > li > a {
    color: var(--neutral-white);
    text-decoration: none;

}
.social-media-links {
    justify-self: center;
    padding-block-start: 2rem;

    display: flex;
    gap: 1.5rem;
}

/* to make icons 'same size' */
/* from: https://www.smashingmagazine.com/2021/10/object-fit-background-size-css/ */
.social-media-links > li > a > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.copyright {
    color: var(--neutral-dark-gray);
    white-space: nowrap;
}

.navigation-container[data-visible="true"] {
    /* transform: translateX(0); */
    /* display: flex; */
    transform: translateY(0);
}

.animate-on-mobile {
    transition: transform 200ms ease-in-out;
}

.attribution { font-size: 11px;
    text-align: center;
    background-color: var(--neutral-white);
}

.attribution a { color: hsl(228, 45%, 44%); }

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {

    .navbar {
        margin-block-start: 3rem;
    }

    .hero-text--container {
        justify-self: unset;
        /* line above removed setting in order for next line to work */
        margin-inline-start: var(--magic-margin);
    }

    .hero-text {
        max-width: 38rem;   
    }

    .navigation-container {
        display: flex;
        /* flex-direction: row; */  /* commenting out since it works fine without it (it's the default) */
        /* margin-block: .75rem; */ /* commenting out since it works fine without it */
        column-gap: max(1rem, 2vw);
        margin-block-start: .4rem;
    }

    .mobile-nav-toggle {
        display: none;
    }   

    .description {
        margin-inline: var(--magic-margin);
    }

    
    .image-tile {
        display: grid;
        gap: 3rem;
        margin-bottom: 5rem;
    }
    
    .image-tile > h2,
    .image-tile > a {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        /* also the same as */
        /* grid-area: 1 / 1 / 2 / 2; */
    }

    .image-tile h2 {
        margin-bottom: -.5rem;
        text-align: start;
    }

    .image-tile > a {
        font-weight: bold;
        place-self: center end;
    }

    .loopstudios-creations > a > figure > picture::before {
    /* content: '';
    position: absolute; */
    inset: 30% 0 0 0;
    --direction: 180deg;
    /* background-image: linear-gradient(
        var(--direction),
        hsla(0, 0%, 35.29%, 0) 0%,
        hsla(0, 0%, 34.53%, 0.034375) 16.36%,
        hsla(0, 0%, 32.42%, 0.125) 33.34%,
        hsla(0, 0%, 29.18%, 0.253125) 50.1%,
        hsla(0, 0%, 24.96%, 0.4) 65.75%,
        hsla(0, 0%, 19.85%, 0.546875) 79.43%,
        hsla(0, 0%, 13.95%, 0.675) 90.28%,
        hsla(0, 0%, 7.32%, 0.765625) 97.43%,
        hsla(0, 0%, 0%, 0.8) 100%
      ); */
    /* z-index: 1; */
    /* commented out portions is because they are same as above */
}

    /* footer {
        width: 100%;
    } */

    .footer-menu-container {
        padding-block: 3rem;
        margin-inline: var(--magic-margin);

        grid-template-columns: 1fr 1fr;
    }

    .logo,
    .footer-menu {
        justify-self: start;
    }
    
    
    .social-media-links,
    .copyright {
        justify-self: end;
    }
    
    /* .logo,
    .social-media-links {
        align-self: baseline;
    } */

    .footer-menu-container > .logo {
        align-self: end;
        margin-block-end: .5rem;
    }
    
    .footer-menu {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        
        flex-direction: row;
    }

    /* start of underline hover animation */
    /* borrowed from: https://www.youtube.com/watch?v=gGySLNda00s */

    /* for navigation-container, may require adjusting vertical-alignment */
    .navigation-container li a::after,
    .footer-menu li a::after,
    .social-media-links li a::after {
        content: '';
        width: 0;
        height: 3px;
        background-color: var(--neutral-white);
        /* one can try margin-left or margin-right to see effect */
        /* 'auto' here causes bar to grow from center */
        margin: auto;
        /* margin-top: 8px; */
        margin-block-start: .4rem;
        display: block;
    }

    .navigation-container li a:hover::after,
    .footer-menu li a:hover::after,
    .social-media-links li a:hover::after {
        --bar-width: 60%;
        width: var(--bar-width);
        transition: width 150ms linear;
    }

    .social-media-links li a:hover::after {
        --bar-width: 100%;
    }

    /* end of underline hover animation */

}

@media screen and (min-width: 1000px) {

    .description {
        display: block;
    }
    
    .description > picture {
        padding-block-end: 5rem;
    }
    
    .description-text-block {
        /* justify-content: center; */
        position: absolute;
        bottom: 0;
        right: -5rem;

        align-items: start;
    }
    
    .description-text-block h2, p,
    .image-tile h2 {
        text-align: start;
    }
}