/* this is working */
/* this is a copy before I blow everything up */

@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    /* direction: rtl; */
    /* neutral */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-dark-gray: hsl(0, 0%, 55%);
    --neutral-very-dark-gray: hsl(0, 0%, 41%);
    --neutral-black: hsl(0, 0%, 0%);

    --neutral-almost-black-shadow: hsl(0, 0%, 8%, 0.5);

    /* font body-copy */
    --fs-body-copy: 15px;

    --section-separator: 3rem;

    --magic-margin: clamp(1.5rem, -8.2143rem + 20.2381vw, 10rem);
}

html {
    font-size: var(--fs-body-copy);
}

body {
    /*  desktop: 1440x900px
        mobile: 375x780px */
    font-family: 'Alata', /* 'Josefin Sans', */ sans-serif;
}
    
.container {
    max-width: 1440px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-inline: auto;
        
    min-height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
    gap: 1rem;
}

.container-hero-nav {
    display: grid;
    grid-auto-rows: auto 1fr;

    margin-block-end: var(--section-separator);
}

.container-hero-nav > picture {
    z-index: -1;
    grid-area: 1 / -1;
}

@media screen and (min-width: 768px) and (max-width: 1350px) {
    /* stops the hero image from shrinking too much and other elements colliding with each other */
    .container-hero-nav > picture > img {
        /* logo shrinks but stops at a certain point */
        /*  
            To determine a smooth transition, set a min-height in pixels then
            select the img element in dev tools > element > style.
            Slowly shrink the viewport while looking at the box model and
            check the viewport dimensions at the upper-right of the browser
            window. That x value will be your max-width above ^ in your @media.
        */
        min-height: 600px;
        width: auto;
        object-fit: cover;
    }
}

.hero-text--container {
    grid-area: 1 / -1;
    place-self: center;
    margin-inline: 1.5rem;
}

.hero-text {
    color: var(--neutral-white);
    font-family: 'Josefin Sans', sans-serif;
    /* clamp calculation: minwp: 375, maxvp: 1920, minfs:3, maxfs:4 */
    font-size: clamp(3rem, 2.6479rem + 1.5023vw, 4rem);
    text-transform: uppercase;
    max-width: 33rem;
    line-height: 1;
    text-align: start;

    border: 3px solid var(--neutral-white);
    padding: clamp(2rem, 1.4681rem + 1.7021vw, 3rem) clamp(2rem, 2.266rem + -0.8511vw, 1.5rem);
}


.navbar {
    /* margin-inline: var(--magic-margin); */
    padding-inline: var(--magic-margin);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    /* spacing from the top */
    /* margin-block-start: 1.5rem; */
    padding-block-start: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* places navbar at the top */
    height: fit-content;
    background-color: var(--neutral-dark-gray);

}

.navigation-container {
    display: flex;
    gap: 2rem;
    /* justify-content: center; */

    /* background-color: var(--neutral-dark-gray); */
    list-style: none;
    /* z-index: 1000; */
    padding-inline-start: min(3.5rem, 2vw);
}

.navigation-container li a {
    text-decoration: none;
    color: var(--neutral-white);
}

.dropdown-toggle {
    white-space: nowrap;
}

@media screen and (max-width:767px) {

    .navigation-container {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
        text-transform: uppercase;

        position: fixed;
        z-index: 100;
        /* inset-inline: 30% 0; */
        inset-inline: 0;   /* covers entire screen */
        inset-block: 54px 0;    /* was both 0 */
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        /* transform: translateX(100%); */
        /* scrolls down */
        transform-origin: 0 54px;
        transform: translateY(-110%); /* was 100% */
        background-color: var(--neutral-black);    
    }
}

.mobile-nav-toggle {
    position: relative;
    /* inset-inline-end: 1rem; */
    z-index: 1;
    
    margin-block: .25rem;
    background-image: url('./images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: left;
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    border: 0;
}

.mobile-nav-toggle[aria-expanded="true"]{
    z-index: 120;
    background-image: url('./images/icon-close.svg');
    -moz-transition: background-image 100ms, z-index 200ms 250ms;
    transition: background-image 100ms, z-index 200ms 250ms;
}

.tx--17 {
    transform: translateX(-17px);
}

.description {
    /* for the container, for viewports < 768px*/
    margin-inline: var(--magic-margin);
    margin-block-end: var(--section-separator);
    position: relative;

    /* for the child elements */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .description > picture, */
.description-text-block {
    position: relative;
}


.description-text-block {
    /* this is mostly based on max viewport */
    max-width: 730px;
    background-color: aqua;
    padding: 5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    /* position: absolute; */
    /* bottom: 3rem;
    right: 0; */
}

.description-text-block h2,
.image-tile h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: clamp(2rem, 1.734rem + 0.8511vw, 2.5rem);
    text-transform: uppercase;
    max-width: 33rem;

    width: clamp(20rem, 14.6809rem + 17.0213vw, 33rem);
    /* width: clamp(20rem, 12.0213rem + 25.5319vw, 35rem); */
    line-height: 1.05;
}


.description-text-block p {
    color: var(--neutral-very-dark-gray);
    /* width: 20rem; */
    /* width: clamp(20rem, 12.0213rem + 25.5319vw, 35rem); */
    width: clamp(20rem, 14.6809rem + 17.0213vw, 33rem);
    font-size: 17px;
}

.description-text-block h2, p,
.image-tile h2 {
    text-align: center;
}

.image-tile {
    /* on the container, for mobile */
    margin-inline: var(--magic-margin);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin-block-end: var(--section-separator);
}


.image-tile .see-all {
    order: 1;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .25rem;
    text-transform: uppercase;
        
    padding: .8rem 3rem .5rem;
    border: 1px solid var(--neutral-black);
    text-decoration: none;
}

.image-tile > a:hover {
    color: var(--neutral-white);
    background-color: var(--neutral-black);
}

.loopstudios-creations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 2.5rem;
}

.loopstudios-creations a {
    text-decoration: none;
    /* if next line doesn't exist, overlay doesn't align */
    justify-self: center;
}

.loopstudios-creations > a:focus-visible {
    outline: 2px solid crimson;    
}

.loopstudios-creations a picture {
    display: grid;
    position: relative;
}


.image-actual,
.title {
    /* places img and span in same place/area */
    grid-area: 1 / -1;
    /* even if commented out, 'position: absolute' below works
        because it's under code block with '.loopstudios-creations a picture' */
    /* position: relative; */
}

.loopstudios-creations > a:hover .image-actual {
    opacity: 0.5;
}

.loopstudios-creations > a:hover .title {
    color: var(--neutral-black);
    font-weight: bold;
}

picture > .title {
    align-self: end;
    padding-inline-start: 1.5rem;
    padding-block-end: 1.5rem;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--neutral-white);
    max-width: 10rem;
    width: max-content;
    z-index: 2;
    
}
.loopstudios-creations > a > picture::before {
    content: '';
    /* absolute here is required, but relative above (~ ln 272) is not! */
    position: absolute;
    inset: 0 10% 0 0;
    /* can assign 'to left' as a variable */
    --direction: 270deg;
    background-image: linear-gradient(
        var(--direction),
        hsla(0, 0%, 35.29%, 0) 0%,
        hsla(0, 0%, 34.53%, 0.034375) 16.36%,
        hsla(0, 0%, 32.42%, 0.125) 33.34%,
        hsla(0, 0%, 29.18%, 0.253125) 50.1%,
        hsla(0, 0%, 24.96%, 0.4) 65.75%,
        hsla(0, 0%, 19.85%, 0.546875) 79.43%,
        hsla(0, 0%, 13.95%, 0.675) 90.28%,
        hsla(0, 0%, 7.32%, 0.765625) 97.43%,
        hsla(0, 0%, 0%, 0.8) 100%
      );
    z-index: 1;
}

.loopstudios-creations > a:hover picture::before {
    /* so that overlay cannot be seen on hover */
    height: 0;
}

footer {
    background-color: var(--neutral-black);
}

.footer-menu-container {
    display: grid;
    gap: 2rem;
    color: var(--neutral-white);    

    justify-items: center;
    padding-block: 4rem;
}

.footer-menu,
.social-media-links {
    padding: 0;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
}

.footer-menu  li,
.social-media-links li {
    list-style: none;
}

.footer-menu-container > ul > li > a {
    color: var(--neutral-white);
    text-decoration: none;

}
.social-media-links {
    justify-self: center;
    padding-block-start: 2rem;

    display: flex;
    gap: 1.5rem;
}

.copyright {
    color: var(--neutral-dark-gray);
    white-space: nowrap;
}

.navigation-container[data-visible="true"] {
    /* transform: translateX(0); */
    transform: translateY(0);
}

.animate-on-mobile {
    transition: transform 200ms ease-in-out;
}

.attribution { font-size: 11px; text-align: center; background-color: var(--neutral-white);}
.attribution a { color: hsl(228, 45%, 44%); }

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {

    .navbar {
        margin-block-start: 3rem;
    }

    .hero-text--container {
        justify-self: unset;
        /* line above removed setting in order for next line to work */
        margin-inline-start: var(--magic-margin);
    }

    .hero-text {
        max-width: 38   rem;   
    }

    .navigation-container {
        flex-direction: row;
        margin-block: .75rem;
        column-gap: max(1rem, 2vw);
    }

    .mobile-nav-toggle {
        display: none;
    }   

    
    .image-tile {
        display: grid;
        gap: 3rem;
        margin-bottom: 5rem;
    }
    
    .image-tile > h2,
    .image-tile > a {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        /* also the same as */
        /* grid-area: 1 / 1 / 2 / 2; */
    }

    .image-tile h2 {
        margin-bottom: -.2rem;
        text-align: start;
    }

    .image-tile > a {
        font-weight: bold;
        place-self: center end;
    }

    .loopstudios-creations > a > picture::before {
    /* content: '';
    position: absolute; */
    inset: 30% 0 0 0;
    --direction: 180deg;
    /* background-image: linear-gradient(
        var(--direction),
        hsla(0, 0%, 35.29%, 0) 0%,
        hsla(0, 0%, 34.53%, 0.034375) 16.36%,
        hsla(0, 0%, 32.42%, 0.125) 33.34%,
        hsla(0, 0%, 29.18%, 0.253125) 50.1%,
        hsla(0, 0%, 24.96%, 0.4) 65.75%,
        hsla(0, 0%, 19.85%, 0.546875) 79.43%,
        hsla(0, 0%, 13.95%, 0.675) 90.28%,
        hsla(0, 0%, 7.32%, 0.765625) 97.43%,
        hsla(0, 0%, 0%, 0.8) 100%
      ); */
    /* z-index: 1; */
    /* commented out portions is because they are same as above */
}

    /* footer {
        width: 100%;
    } */

    .footer-menu-container {
        padding-block: 3rem;
        margin-inline: var(--magic-margin);

        grid-template-columns: 1fr 1fr;
    }

    .logo,
    .footer-menu {
        justify-self: start;
    }
    
    
    .social-media-links,
    .copyright {
        justify-self: end;
    }
    
    .logo,
    .social-media-links {
        align-self: baseline;
    }
    
    .footer-menu {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        
        flex-direction: row;
    }
}

@media screen and (min-width: 1000px) {

    .description {
        display: block;
    }
    
    .description > picture {
        padding-block-end: 5rem;
    }
    
    .description-text-block {
        /* justify-content: center; */
        position: absolute;
        bottom: 0;
        right: -5rem;
    }
    
    .description-text-block h2, p,
    .image-tile h2 {
        text-align: start;
    }
}


/* below not needed anymore since the use of clamp */
/* @media screen and (min-width: 1150x) {
    .hero-text--container {
        margin-inline-start: 10rem;
    }
    .navbar,
    .description {
        padding-inline: 10rem;
    }

    .description-text-block  {
        margin: revert;
        display: inline;
        text-align: start;   
    }
}
@media screen and (min-width: 1380px) {
    .description,
    .image-tile {
        padding-inline: 10rem;
    }
} */