@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
/* this is the same as style3.css but with modifications. This time I'll be using transform: scaleY() */
:root {
    /* direction: rtl; */
    /* neutral */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-dark-gray: hsl(0, 0%, 55%);
    --neutral-very-dark-gray: hsl(0, 0%, 41%);
    --neutral-black: hsl(0, 0%, 0%);

    --neutral-almost-black-shadow: hsl(0, 0%, 8%, 0.5);

    /* font body-copy */
    --fs-body-copy: 15px;

    --section-separator: 3.5rem;

    /* minvw: 375px, maxvw: 1920, minfs: 1.5rem, maxfs:10rem */
    --magic-margin: clamp(1.5rem, -0.5631rem + 8.8026vw, 10rem);
}

html {
    font-size: var(--fs-body-copy);
}

body {
    /*  desktop: 1440x900px
        mobile: 375x780px */
    font-family: 'Alata', sans-serif;
}
    
.container {
    max-width: 1440px;
    margin-inline: auto;
        
    min-height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
    /* gap: 1rem; */
    gap: 5rem;
}

.container-hero-nav {
    display: grid;
    grid-auto-rows: auto 1fr;

    margin-block-end: var(--section-separator);
}

.container-hero-nav picture {
    grid-area: 1 / -1;
}

@media screen and (min-width: 768px) and (max-width: 1350px) {
    /* stops the hero image from shrinking too much and other elements colliding with each other */
    .container-hero-nav picture .hero-image {
        /* logo shrinks but stops at a certain point */
        /*  
            To determine a smooth transition, set a min-height in pixels then
            select the img element in dev tools > element > style.
            Slowly shrink the viewport while looking at the box model and
            check the viewport dimensions at the upper-right of the browser
            window. That x value will be your max-width above ^ in your @media.
        */
        min-height: 600px;
        width: auto;
        object-fit: cover;
    }
}

.hero-text--container {
    grid-area: 1 / -1;
    place-self: center;
    margin-inline: 1.5rem;
}

.hero-text {
    color: var(--neutral-white);
    font-family: 'Josefin Sans', sans-serif;
    /* clamp calculation: minwp: 375, maxvp: 1920, minfs:3, maxfs:4 */
    /* font-size: clamp(3rem, 2.6479rem + 1.5023vw, 4rem); */
    /* clamp calculation: minwp: 375, maxvp: 1920, minfs:2.5, maxfs:4 */
    font-size: clamp(2.5rem, 2.1359rem + 1.5534vw, 4rem);
    text-transform: uppercase;
    max-width: 24rem;
    line-height: 1;
    text-align: start;

    border: 3px solid var(--neutral-white);
    /* padding-inline: clamp(2rem, 2.1214rem + -0.5178vw, 1.5rem); */

    /* min() works here, but pair it with max-width: 24rem so text doesn't get cut off */
    padding-inline: min(7%, 3rem);
    padding-block: min(6%, 2.5rem);
}

.navbar {
    /* margin-inline: var(--magic-margin); */
    /* changing to padding so background to black will show */
    padding-inline: var(--magic-margin);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    /* spacing from the top */
    /* margin-block-start: 1.5rem; */
    /* changing to padding so background to black will show */
    padding-block-start: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* places navbar at the top */
    /* height: fit-content; */
    height: 54px;
    background-color: var(--neutral-black);

    z-index: 110;
}

.navbar.transparent {
    background-color: transparent;
}

.nav-items {
    display: flex;
    /* position: relative; */
}

.navigation-container {
    /* flex here will apply also for desktop mode*/
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navigation-container li a {
    text-decoration: none;
    color: var(--neutral-white);
}

@media screen and (max-width:767px) {

    .navigation-container {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        
        position: fixed;
        overflow-y: auto;
        z-index: 105;
        inset-inline: auto 0;
        inset-block: 54px auto;
        
        flex-direction: column;
        /* without width & height in viewport units, container doesn't occupy whole screen */
        width: 100vw;
        /* width: calc(100vw - 17px); */    /* leaves a 17px column on the left, which for this project, you can see the overlay beneath */
        height: 100vh;
        padding-inline: var(--magic-margin);
        padding-block: min(20rem, 15vh);
        background-color: var(--neutral-black);
        /* this makes the menu drop from the navbar */
        transform-origin: top center;
        /* this 'hides' the list */
        transform: scaleY(0);   
    }
}

.mobile-nav-toggle {
    margin-block: .25rem;
    background-image: url('./images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: left;
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    border: 0;
}

.mobile-nav-toggle[aria-expanded="true"]{
    /* z-index: 120; */
    background-image: url('./images/icon-close.svg');
    /* -moz-transition: background-image 100ms, z-index 200ms 250ms;
    transition: background-image 100ms, z-index 200ms 250ms; */
    transition: background-image 200ms;
}

.tx--17 {
    transform: translateX(-17px);
}

.description {
    margin-inline: 1.5rem;
    margin-block-end: calc(var(--section-separator) * 1.75);
    position: relative;

    /* for the child elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.description-text-block {
    background-color: white;
    /* minvw: 375px, maxvw: 1440, minfs: .5rem, maxfs: 5rem */
    padding: clamp(0.5rem, -1.0845rem + 6.7606vw, 5rem);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    /* position: relative; */
}

.description-text-block h2,
.image-tile h2 {
    font-family: 'Josefin Sans', sans-serif;
    /* minvw: 375px, maxvw: 1440, minfs: 2.2rem, maxfs: 3.2rem */
    font-size: clamp(2.2rem, 1.8479rem + 1.5023vw, 3.2rem);
    text-transform: uppercase;
    max-width: 30rem;
    line-height: 1.05;
}


.description-text-block p {
    color: var(--neutral-very-dark-gray);
    max-width: 33rem;
    font-size: 17px;
}

.description-text-block h2, p,
.image-tile h2 {
    text-align: center;
}

.image-tile {
    margin-inline: var(--magic-margin);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin-block-end: var(--section-separator);
}

.image-tile .see-all {
    order: 1;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .25rem;
    text-transform: uppercase;
        
    padding: .8rem 2.5rem .5rem;
    border: 1px solid var(--neutral-black);
    text-decoration: none;
}

.image-tile > a:hover {
    color: var(--neutral-white);
    background-color: var(--neutral-black);
}

.loopstudios-creations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 2.5rem;
}

.loopstudios-creations a {
    text-decoration: none;
    /* if next line doesn't exist, overlay doesn't align */
    justify-self: center;
}

.loopstudios-creations > a:focus-visible {
    outline: 2px solid crimson;    
}

.loopstudios-creations a figure {
    position: relative;
    /* display: inline-block; */ /* eliminated this because of extra space underneath the image */
}

.loopstudios-creations a:hover .image-actual {
    opacity: 0.5;
}

.loopstudios-creations a:hover .project-title {
    color: var(--neutral-black);
    font-weight: bold;
}

.project-title {
    position: absolute;
    /* bottom: 0;
    left: 0;
    right: 0; */
    inset-block: auto 0;
    inset-inline: 0;
    
    padding-inline-start: 1.5rem;
    padding-block-end: 1.5rem;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--neutral-white);
    max-width: 10rem;
    width: max-content;
    z-index: 2;
}

/* .loopstudios-creations > a > figure > picture::before */
.loopstudios-creations a figure picture::before {
    content: '';
    /* absolute here is tied to the '..loopstudios-creations a figure' above */
    position: absolute;
    inset: 0 10% 0 0;
    /* can assign 'to left' as a variable */
    --direction: 270deg;
    background-image: linear-gradient(
        var(--direction),
        hsla(0, 0%, 35.29%, 0) 0%,
        hsla(0, 0%, 34.53%, 0.034375) 16.36%,
        hsla(0, 0%, 32.42%, 0.125) 33.34%,
        hsla(0, 0%, 29.18%, 0.253125) 50.1%,
        hsla(0, 0%, 24.96%, 0.4) 65.75%,
        hsla(0, 0%, 19.85%, 0.546875) 79.43%,
        hsla(0, 0%, 13.95%, 0.675) 90.28%,
        hsla(0, 0%, 7.32%, 0.765625) 97.43%,
        hsla(0, 0%, 0%, 0.8) 100%
      );
    z-index: 1;
}

.loopstudios-creations a:hover picture::before {
    /* so that overlay linear-gradient will not be seen on hover */
    background-image: none;
}

footer {
    background-color: var(--neutral-black);
}

.footer-menu-container {
    display: grid;
    gap: 2rem;
    color: var(--neutral-white);    

    justify-items: center;
    padding-block: 4rem;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
}

.footer-menu li,
.social-media-links li {
    list-style: none;
}

.footer-menu-container ul li a {
    color: var(--neutral-white);
    text-decoration: none;

}
.social-media-links {
    justify-self: center;
    padding-block-start: 2rem;

    display: flex;
    gap: 1.5rem;
}

/* to make icons 'same size' */
/* from: https://www.smashingmagazine.com/2021/10/object-fit-background-size-css/ */
.social-media-links li a img {
    /* height and width are defined so that the animated underline will be in the proper position */
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.copyright {
    color: var(--neutral-dark-gray);
    white-space: nowrap;
}

.navigation-container[data-visible="true"] {
    transform: scaleY(1);
}

.animate-on-mobile {
    transition: transform 100ms ease-in-out;
}

.attribution { font-size: 11px;
    text-align: center;
    background-color: var(--neutral-white);
}

.attribution a { color: hsl(228, 45%, 44%); }

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {

    .navbar {
        margin-block-start: 3rem;
    }

    .hero-text--container {
        justify-self: unset;
        /* line above removed setting in order for next line to work */
        margin-inline-start: var(--magic-margin);
    }

    .hero-text {
        max-width: 30rem;   
    }

    .navigation-container {
        /* display: flex; */    /* already defined above */
        column-gap: max(1rem, 2vw);
        margin-block-start: .4rem;
    }

    .mobile-nav-toggle {
        display: none;
    }   

    .description {
        margin-inline: var(--magic-margin);
    }

    .image-tile {
        display: grid;
        gap: 3rem;
        margin-bottom: 5rem;
    }
    
    .image-tile h2,
    .image-tile > a {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        /* also the same as */
        /* grid-area: 1 / 1 / 2 / 2; */
        margin-block-end: 1rem;
    }

    .image-tile h2 {
        margin-block-start: .3rem;
        text-align: start;
    }

    .image-tile > a {
        font-weight: bold;
        place-self: center end;
    }

    .loopstudios-creations a figure picture::before {
        inset: 30% 0 0 0;
        --direction: 180deg;
    }

    .footer-menu-container {
        padding-block: 3rem;
        margin-inline: var(--magic-margin);

        grid-template-columns: 1fr 1fr;
    }

    .footer-menu-container > a,
    .footer-menu {
        justify-self: start;
    }

    .footer-menu-container .logo {
        width: 80%;
        height: auto;
    }

    /* .logo, */
    .social-media-links {
        padding: 0;
    }
        
    .social-media-links,
    .copyright {
        justify-self: end;
    }
        
    .footer-menu {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        
        flex-direction: row;
        column-gap: max(1rem, 2vw);
    }

    /* start of underline hover animation */
    /* borrowed from: https://www.youtube.com/watch?v=gGySLNda00s */

    /* for navigation-container, may require adjusting vertical-alignment */
    /*  .navigation-container li a::after,
        .footer-menu li a::after,
        .social-media-links li a::after     */ 
    :where(.navigation-container, .footer-menu, .social-media-links ) li a::after {
        content: '';
        width: 0;
        height: 3px;
        background-color: var(--neutral-white);
        /* one can try margin-left or margin-right to see effect */
        /* 'auto' here causes bar to grow from center */
        margin: auto;
        margin-block-start: .3rem;
        display: block;
    }

    /*  .navigation-container li a:hover::after,
        .footer-menu li a:hover::after,
        .social-media-links li a:hover::after   */ 
    :where(.navigation-container, .footer-menu, .social-media-links ) li a:hover::after {
        --bar-width: 60%;
        width: var(--bar-width);
        transition: width 150ms linear;
    }

    .social-media-links li a:hover::after {
        --bar-width: 100%;
    }

    /* end of underline hover animation */

}

@media screen and (min-width: 1000px) {

    .hero-text {
        max-width: 35rem;   
    }

    .description {
        display: block;
    }
    
    .description picture .desc-image {
        padding-block-end: 5rem;
    }
    
    .description-text-block {
        position: absolute;
        bottom: 0;
        right: -5rem;
        
        align-items: start;
    }
    
    .description-text-block h2, p {
        text-align: start;
    }
}